<!DOCTYPE html>
<html>
<head>
  <title>Loan Application</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'application.tailwind', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'form_validation', 'data-turbo-track': 'reload' %>
</head>
<body>
  <%= yield %>
</body>
</html>
